
html, body { height:100%; }

body {
  background: url(/images/background.png) no-repeat #000; 
  font: 62.5%/1.4 Helvetica, Arial, sans-serif; 
  overflow:hidden; }
#flags { 
  width: 1768px;
  height: 630px;
  padding-left: 25px;
  background-color: rgba(0,255,0,0);
  margin-left: 56px;
  margin-top: 212px; }
#time-remaining { 
  position: absolute; 
  top: 0;
  right: 96px; 
  width: 459px; 
  height: 156px;
  z-index:100; 
  display: block; 
  background: url(/images/numbers/mins.png) no-repeat transparent; }
#two-thru-ten { 
  width: 145px; 
  height: 156px; 
  background: url(/images/numbers/2thru10.png) -1160px 0 no-repeat transparent; }
#bird { 
  width: 160px;
  height: 260px;
  overflow:hidden;
  background: url(/images/toucakeet.png) transparent no-repeat;
  background-position: 0px 0px;
  position:absolute;
  left: 1238px;
  top:0;
  z-index:200; }
#bird.caw { background-position: -160px 0px; }
.band {
  height: 196px;
  width: 165px;
  float: left; 
  position: relative;
  margin: 450px 32px 0 32px; }
.first { margin-left: 0; }
.last { margin-right: 0; }

#band-1 { background: url(/images/flags.png) 0 0 transparent no-repeat; }
#band-2 { background: url(/images/flags.png) -165px 0 transparent no-repeat; }
#band-3 { background: url(/images/flags.png) -330px 0 transparent no-repeat; }
#band-4 { background: url(/images/flags.png) -495px 0 transparent no-repeat; }
#band-5 { background: url(/images/flags.png) -660px 0 transparent no-repeat; }
#band-6 { background: url(/images/flags.png) -825px 0 transparent no-repeat; }
#band-7 { background: url(/images/flags.png) -990px 0 transparent no-repeat; }
#band-8 { background: url(/images/flags.png) -1155px 0 transparent no-repeat; }

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
/*\*/
.clearfix { display:block; }
/**/
