html, body { height:100%; }
body {
  background: url(/images/background.png) no-repeat #000; 
  font: 62.5%/1.4 Helvetica, Arial, sans-serif; 
  overflow:hidden; }
.ended, .ready {
	position:absolute;
	z-index:1000;
}
#flags { 
  position:relative;
  width: 1440px;
  height: 745px;
  overflow: hidden;
  background-color: rgba(0,255,0,0);
  top: 212px; }
#time-remaining { 
  position: absolute; 
  top: 0;
  overflow: hidden;
  right: 96px; 
  width: 459px; 
  height: 156px;
  z-index:100; 
  display: block;
  background: url(/images/numbers/mins-background.png) no-repeat transparent; }
#min-tray {
  width:1377px;
  height: 156px;
  display:block; }
.min-block {
  width: 459px;
  height: 156px; 
  float:left; }
#many-mins { background: url(/images/numbers/mins.png) no-repeat transparent; }
#one-min { background: url(/images/numbers/1min.png) no-repeat transparent; }
#less-than-one-min { background: url(/images/numbers/lessthan1.png) no-repeat transparent; }
#two-thru-ten { 
  width: 145px; 
  height: 156px; 
  background: url(/images/numbers/2thru10.png) -1160px 0 no-repeat transparent; }
#bird { 
  width: 160px;
  height: 260px;
  background: url(/images/toucakeet.png) transparent no-repeat;
  position:absolute;
  left: 1238px;
  top: 0;
  z-index:200; }
#flags #bird.caw { background-position: -160px 0px; }
.band {
  height: 745px;
  width: 200px;
  float: left; 
  position: relative;
	z-index: 3;
  margin: 350px 0 0 0; }
.pedestals { position: absolute; bottom: 0; z-index: 5; }
.pedestal {
	width: 200px;
	height: 39px;
	float: left;
	background: url(/images/pedestal.png) top center transparent no-repeat;
	z-index: 5;
}
.first { margin-left: 0; }
.last { margin-right: 0; }

#band-1 { background: url(/images/band_column_02.png) top center transparent no-repeat; }
#band-2 { background: url(/images/band_column_03.png) top center transparent no-repeat; }
#band-3 { background: url(/images/band_column_04.png) top center transparent no-repeat; }
#band-4 { background: url(/images/band_column_05.png) top center transparent no-repeat; }
#band-5 { background: url(/images/band_column_06.png) top center transparent no-repeat; }
#band-6 { background: url(/images/band_column_07.png) top center transparent no-repeat; }
#band-7 { background: url(/images/band_column_08.png) top center transparent no-repeat; }

.clearfix:after { content:"."; display:block; height:0; clear:both; visibility:hidden; }
.clearfix { display:inline-block; }
/*\*/
.clearfix { display:block; }
/**/