<div id="flags" class="clearfix">
	
  <div id="bird"></div>
  
  <div id="time-remaining">
    <div id="min-tray">
      <div id="many-mins" class="min-block">
	    <div id="two-thru-ten"></div>
      </div>
      <div class="min-block">
	    <div id="one-min"></div>
	  </div>
	  <div class="min-block">
        <div id="less-than-one-min"></div>
      </div>
    </div>
  </div>

<% @bands.each do |c| %>
  <div class="band<%= (@bands.index(c) == @bands.count-1) ? " last" : "" %><%= (@bands.index(c) == 0) ? " first" : "" %>" id="band-<%= c.id %>"></div>
<% end %>
</div>

<script type="text/javascript" src="/js/display.js"></script>
